@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;

    font-family: "Raleway",sans-serif;

}

/*root a faire au début avec font family etc... peut etre importer le raleway en police */
body {
    background-color: #FFE5A2;
}
/*START NAVBAR STYLE*/


h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color :#FFE5A2;
    padding: 3rem;
    background-image: url(./assets/images/wood\ navbar.png);
    background-size: 100vw 19vh;
}

header>img{ /*scroll down menu img*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    position: relative;
    bottom: 1.68rem;


}

nav>ul:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



nav>ul>li>img{ /* sound img*/
    width:2rem;
}

nav>ul>li>a>img{ /*social network img*/
    width:2rem;

}

nav>ul:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*END NAVBAR STYLE*/


ul {
    display: grid;
    grid-template-columns: 50px auto auto auto;
    grid-template-rows: repeat(4, auto);
    text-align: right;
    gap: 0.5rem;
    padding: 1rem;
}

.side-bar {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-columns: 10rem;
    width: 4rem;

}


.upgradeList>li {
    list-style-type: none;
    background-size: 3rem, 5rem;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-image: url("assets/images/curseur-de-la-souris.png"), url("assets/images/cadre upgrade.png");
    padding-top: 5rem;
}

.barreHaut {
    width : 100%;
    position: relative;
    top: -18%;
    left: 0%;
}

.barreBas {
    width : 100%;
    position: absolute;
    bottom: -3.3rem;
    left: 0%;
    transform: rotate(180deg);
}

.how-to-play {
    background-color: #fc974a;
    color: black;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.how-to-play.open {
    display: block;
}

.who-are-we {
    background-color: #fc974a;
    color: black;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.who-are-we.open {
    display: block;
}

.croissant-img {
    max-width: 600px;
    display: block;
    margin: 2rem auto;
}

section>p {
    text-align: center;
  } 

.croissant-img:hover {
    transform: scale(1.2);
}

/*AUTOCLICKER*/
ul {
    list-style-type: none;
}
.firstAutoClicker{
    display: inline-grid;
    grid-template-columns: 3rem 100px 100px;
    grid-template-rows: 40px 40px;
    grid-template-areas: "picture production production" "picture lvl costForNextLevel";
    justify-items: stretch;
    align-items: stretch;
}

.autoclickerPicture{
    border: 1px solid black;
    grid-area: picture;
}
.production{
    border: 1px solid black;
    border-radius: 0px 40px 0px 0px;
    grid-area: production;
}
.level{
    border: 1px solid black;
    grid-area: lvl;
}
.costForNextLevel{
    border: 1px solid black;
    border-radius: 0px 0px 40px 0px;
    grid-area: costForNextLevel;
}
.cadreImgUprade{
    
    background-color: transparent;
    position: relative;
    z-index: 1;
    width: 4rem;
}
.grandMa{
    position: relative;
    top: -40px; left: -5px;
    width: 4rem;
    height: 50%;
    object-fit: cover;
}

/* RESPONSIVE DESKTOP */
@media screen and (width >=768px) {
    h2 {
        display:none
    }
    header>img{
        display:none
    }
    .navbar{
        display: grid;
        color :#FFE5A2;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto;
        padding: 2.7rem;
        background-image: url(./assets/images/wood\ navbar.png);
        background-size: 100vw 20vh;
        gap:10px
    }
    nav>ul:first-child {
        display:flex;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    nav>ul:last-child{
        display:flex;
        list-style-type: none;
        flex-direction: row;
        justify-content: center;
        gap: 7px;
        padding-right: 2rem;
    }

