
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;

    font-family: "Raleway", sans-serif;

}

/*root a faire au début avec font family etc... peut etre importer le raleway en police */
body {
    background-color: #FFE5A2;
}

/*START NAVBAR STYLE*/


h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFE5A2;
    padding: 3rem;
    background-image: url(./assets/images/wood\ navbar.png);
    background-size: 100vw 20vh;
    cursor: pointer;
}

header>img {
    /*scroll down menu img*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    position: relative;
    bottom: 1.68rem;


}

nav>ul:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
}

nav>ul>li>img {
    /* sound img*/
    width: 2rem;
}

.music {
    display: none;
  }

nav>ul>li>a>img {
    /*social network img*/
    width: 2rem;
}

nav>ul:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

/*END NAVBAR STYLE*/

.barreHaut {
    width: 100%;
    position: relative;
    top: -18%;
    left: 0%;
}
@media screen and (width >=768px) {
    .barreHaut {
            width: 112%;
            transform: translate(-5%, -105%);
    }
}

.barreBas {
    width: 100%;
    position: absolute;
    bottom: -3.3rem;
    left: 0%;
    transform: rotate(180deg);
}
@media screen and (width >=768px) {
    .barreBas {
            width: 115%;
            transform: translate(-6%, 100%) rotate(180deg);
    }
}

.navbar {
    /* Navbar pop-up */
    display: none;
}

.navbar.open {
    display: block;
}

.how-to-play {
    background-color: #fc974a;
    color: black;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: none;
}

.how-to-play.open {
    display: block;
}

.who-are-we {
    background-color: #fc974a;
    color: black;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: none;
}

.who-are-we.open {
    display: block;
}

.croissant-img {
    max-width: 100%;
    display: block;
    margin: auto auto;
}

section>p {
    text-align: center;
    background-color: #70b3e1;
    padding-top: 2rem;
    opacity: 70%;
    padding-bottom: 2rem;
    font-weight: bolder;
}

.croissant-img:active {
    transition: all 0.1s linear;
    transform: scale(0.95);
}

/*AUTOCLICKER*/
.autoclicker-container ul {
    list-style-type: none;
    padding-left: 1rem;
}

.autoclicker-container {
    border: 1px solid red;
    display: inline-grid;
    grid-template-columns: 85% 60px;
    grid-template-rows: auto;
    justify-content: left;
    align-items: end;
}

.autoClicker {
    border: 1px solid red;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 4.5rem 25vw 25vw;
    grid-template-rows: 40px 40px;
    grid-template-areas: "picture production production"
    "picture lvl costForNextLevel";
    cursor: pointer;
}

.autoClicker1Picture {
    position: relative;
    background-image: url("assets/images/grandMa.png");
    background-size: cover;
    background-position: center;
    border-image: url("assets/images/cadreImgUprade.png") 350 400 220 350 fill/ 30px / 25px;
    grid-area: picture;
}
.autoClicker2Picture {
    position: relative;
    background-image: url("assets/images/boulangerie.jpg");
    background-size: cover;
    background-position: center;
    border-image: url("assets/images/cadreImgUprade.png") 350 400 220 350 fill/ 30px / 25px;
    grid-area: picture;
}
.autoClicker3Picture {
    position: relative;
    background-image: url("assets/images/computerAutoclicker.png");
    background-size: cover;
    background-position: center;
    border-image: url("assets/images/cadreImgUprade.png") 350 400 220 350 fill/ 30px / 25px;
    grid-area: picture;
}
.autoClicker4Picture {
    position: relative;
    background-image: url("assets/images/french-croissant-with-parachute.jpg");
    background-size: cover;
    background-position: center;
    border-image: url("assets/images/cadreImgUprade.png") 350 400 220 350 fill/ 30px / 25px;
    grid-area: picture;
}
.production {
    padding-top: 0.5rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 0px 40px 0px 0px;
    grid-area: production;
}

.level {
    padding-top: 0.5rem;
    text-align: center;
    border: 1px solid black;
    grid-area: lvl;
}

.costForNextLevel {
    padding-top: 0.5rem;
    padding-left: 0.4rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 0px 0px 10px 0px;
    grid-area: costForNextLevel;
}

.side-bar-right {
    border: 1px solid red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-columns: 10rem;
    width: auto;
    height: 35rem;
    transform: rotate(180deg);
}
/*fin autocliker */


/*Upgrade*/
.upgrade ul {
    display: grid;
    grid-template-columns: 50px auto auto auto;
    grid-template-rows: repeat(4, auto);
    text-align: right;
    gap: 0.5rem;
    padding: 1rem;
}

.side-bar {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-columns: 10rem;
    width: 4rem;

}

.upgradeList>li {
    list-style-type: none;
    background-size: 3rem, 5rem;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-image: url("assets/images/curseur-de-la-souris.png"), url("assets/images/cadre upgrade.png");
    padding-top: 5rem;
}
/*fin upgrade*/


/* RESPONSIVE DESKTOP */
@media screen and (width >=768px) {
    h2 {
        display: none
    }
    
    header>img {
        display: none
    }
    
    .navbar {
        display: grid;
        color: #FFE5A2;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto;
        padding: 2.7rem;
        background-image: url(./assets/images/wood\ navbar.png);
        background-size: 100vw 22vh;
        gap: 10px
    }

    nav>ul:first-child {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav>ul:last-child {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        justify-content: center;
        gap: 9px;
        padding-right: 5rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: auto;
    }

    .autoclicker {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
    }

    .midle {
        grid-column-start: 2;
        grid-column-end: 3;
        background-image: url("https//www.newegg.com/insider/wp-content/uploads/windows_xp_bliss-wide.jpg");
        background-size: 550px 750px;
        border: 45px solid;
        border-image: url("/assets/images/bordure.png") 8%;

    }

    .upgrade {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
    }

    .side-bar {
        display: none;
    }

    section>p {
        margin-top: 3rem;
    }
}


